        <div
          class="
            card
            col-XXL-4
            border border-dark border-4
            rounded-3
            shadow-lg
            m-2
            bg-secondary
            p-0
          "
          style="width: 18rem"
        >
          <img src="{{url}}" class="card-img-top mh75" />
          <div class="card-body p-0">
            <p class="card-text p-1 ">{{description}}</p>
            <a href="/picture/{{id}}" class="stretched-link"></a>
          </div>
        </div>