{{!-- <p1>Homepage</p1> --}}

    <main class="container p-0 col-12">
      <row class="row col-12 justify-content-center">
        <!-- <div class="bg-secondary col-12"> -->
        <!-- {{{body}}} -->
        <div
          class="
            card
            col-XXL-4
            border border-dark border-4
            rounded-3
            shadow-lg
            m-2
          "
          style="width: 18rem"
        >
          <img src="./memes/Always-Has-Been.png" class="card-img-top" />
          <div class="card-body">
            <p class="card-text">EXAMPLE CARD</p>
            <a href="./meme-example.html" class="stretched-link"></a>
          </div>
        </div>

        {{!-- <div
          class="
            card
            col-XXL-4
            border border-dark border-4
            rounded-3
            shadow-lg
            m-2
          "
          style="width: 18rem"
        >
          <img src="./memes/Buff-Doge-vs-Cheems.png" class="card-img-top" />
          <div class="card-body">
            <p class="card-text">EXAMPLE CARD</p>
            <a href="./meme-example.html" class="stretched-link"></a>
          </div>
        </div>

        <div
          class="
            card
            col-XXL-4
            border border-dark border-4
            rounded-3
            shadow-lg
            m-2
          "
          style="width: 18rem"
        >
          <img src="./memes/Change-My-Mind.jpg" class="card-img-top" />
          <div class="card-body">
            <p class="card-text">EXAMPLE CARD</p>
            <a href="./meme-example.html" class="stretched-link"></a>
          </div>
        </div>

        <div
          class="
            card
            col-XXL-4
            border border-dark border-4
            rounded-3
            shadow-lg
            m-2
          "
          style="width: 18rem"
        >
          <img src="./memes/Is-This-A-Pigeon.jpg" class="card-img-top" />
          <div class="card-body">
            <p class="card-text">EXAMPLE CARD</p>
            <a href="./meme-example.html" class="stretched-link"></a>
          </div>
        </div>

        <div
          class="
            card
            col-XXL-4
            border border-dark border-4
            rounded-3
            shadow-lg
            m-2
          "
          style="width: 18rem"
        >
          <img src="./memes/One-Does-Not-Simply.jpg" class="card-img-top" />
          <div class="card-body">
            <p class="card-text">EXAMPLE CARD</p>
            <a href="./meme-example.html" class="stretched-link"></a>
          </div>
        </div>

        <div
          class="
            card
            col-XXL-4
            border border-dark border-4
            rounded-3
            shadow-lg
            m-2
          "
          style="width: 18rem"
        >
          <img src="./memes/Surprised-Pikachu.jpg" class="card-img-top" />
          <div class="card-body">
            <p class="card-text">EXAMPLE CARD</p>
            <a href="./meme-example.html" class="stretched-link"></a>
          </div>
        </div>

        <div
          class="
            card
            col-XXL-4
            border border-dark border-4
            rounded-3
            shadow-lg
            m-2
          "
          style="width: 18rem"
        >
          <img src="./memes/Unsettled-Tom.jpg" class="card-img-top" />
          <div class="card-body">
            <p class="card-text">EXAMPLE CARD</p>
            <a href="./meme-example.html" class="stretched-link"></a>
          </div>
        </div> --}}

        <!-- </div> -->
      </row>
    </main>
