meme.handlebars
        
        
        
        {{!-- <div
          class="
            card
            col-XXL-4
            border border-dark border-4
            rounded-3
            shadow-lg
            m-2
          "
          style="width: 18rem"
        >
          <img src="{{picture.url}}" class="card-img-top" />
          <div class="card-body">
            <p class="card-text">EXAMPLE CARD</p>
            <a href="./meme-example.html" class="stretched-link"></a>
          </div>
        </div> --}}
