<main class="row w-100 m-0">
  <div id="memeContainer" class="container position-relative m-1 h-auto p-0 col-12 col-xl-6">
    <div class="container  h-auto w-auto">
      <img class="my-w" src="{{picture.url}}" />
    </div>
    <div id="upperTextHeader">
      <h1 id="upperText" class="text-uppercase">

      </h1>
    </div>
    <div id="lowerTextHeader">
      <h1 id="lowerText" class="text-uppercase">
      </h1>
    </div>
  </div>

  <div id="phraseInputContainer" data-picid="{{picture.id}}" class="container position-relative m-1 h-auto  p-2 col-12 col-xl-5">
    <div class="memeSubmission">
      {{#if loggedIn}}
      <h2 class="submission-title text-center">Some Words</h2>
      <form class="form" id="meme-form">
        <div class="form-group" id="upperTextHeader">
          <label for="upperTextInput">
            <h5 id="upperTextBox">Upper Text:</h5>
          </label>
          <input class="form-input w-100" type="text" id="upperTextInput" />
        </div>
        <div class="form-group">
          <label for="lowerTextInput">
            <h5 id="lowerTextBox">Lower Text:</h5>
          </label>
          <input class="form-input w-100" type="text" id="lowerTextInput" />
        </div>

        <div class="form-group p-2" style='font-weight: bold'>
          Text Color: 
          <button id="black" class="btn" style= "background-color: black" type = "button"></button>

          <button id="white" class="btn" style= "background-color: white" type = "button"></button>

          <button id="red" class="btn" style= "background-color: red" type = "button"></button>

          <button id="blue" class="btn" style= "background-color: blue" type = "button"></button>

          <button id="green" class="btn" style= "background-color: green" type = "button"></button>
        </div>

        <div class="form-group p-2" style='font-weight: bold'>
          Text Size:

          <button id ="small" class='btn btn-secondary' type="button">S</button>

          <button id ="medium" class='btn btn-secondary' type="button">M</button>

          <button id ="large" class='btn btn-secondary' type="button">L</button>
        </div>

        <div class="form-group p-2 text-center">
          <button id="view-button" class="btn btn-primary" type="button">Preview</button>
        </div>
        {{!-- {{#if loggedIn}} --}}
        <div class="form-group p-2 text-center">
          <button id="submit-button" class="btn btn-primary" type="submit">Submit</button>
        </div>
        {{!-- {{/if}} --}}

        <div class="form-group p-2 text-center">
          <a href= "#" class="btn btn-primary" id= "btnSave" type="submit">Download</a>
        </div>

      </form>
      </div>
    </div>
  </div>

  <div>
</main>

<div class="container-fluid text-center ">
  <div id="history-button-group" class="btn-group-vertical m-2 col-6" role="group">
    {{#each picture.phrases as |phrase|}}
    {{>phrase-button}}
    {{/each}}
  </div>
</div>

    {{else}}
    <h2 class="submission-title text-center text-danger">MUST BE LOGGED IN TO USE APP FEATURES</h2>
    {{/if}}



<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.js"></script>
<script src="/js/script.js"></script>
<script src="/js/button.js"></script>