/* *{
  border-top: 2px solid red
} */

.jumbotron { /*MIMICS DEPRECATED JUMBOTRON FROM PREVIOUS BS VERSIONS TO BS-5 AND UP*/
    padding: 4rem 2rem;
    /* margin-bottom: 2rem; */
    border-radius: 0;
    text-align:center;
    background-color: transparent;
    color: black;
    /* border-bottom: 10px solid black; */
  }

  .card-body {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
  }

  .text-box-container{
    text-align: center;
  }

  .transparent{
    opacity: 20%;
  }

.memeSubmission {
  width: 100%;
  padding: 5px;
  color: var(--light);
}

.mh75{
  min-height: 75%;
}

main{
  background-color: rgb(87, 87, 128)
}

.bg-med-gray{
  background-color: #c3c3c4
}

.my-w{
  width: 100%;
  max-width: 1200px !important;
  /* height: 100vh */
}

.uppercase {
  text-transform:uppercase;
}

@media screen and (min-width: 992px) {
  .view-height {
    height: 100vh;
  }
  .login-row{
    width:100vw;
  }
}